.nav {
  background-color: red;
}
.udlite-btn .btn-daftar {
  min-width: 6rem;
  background-color: #0f7c90;
  color: #fff;
  font-size: 15px;
  border: 1px solid #0f7c90;
}
.btn-login {
  min-width: 6rem;
  background-color: #fff;
  font-size: 15px;
  border: 1px solid #0f7c90;
  color: #0f7c90;
}
.btn-daftar:hover {
  background-color: #046677;
}
ul li {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}

.nav-hover:hover {
  color: red;
}
.nav-link:hover {
  color: red;
}
.form-inline .input-group {
  width: 550px;
}
/* navMobile */

@media only screen and (max-width: 1225px) {
  .navbar-nav li:nth-child(4) {
    display: none;
  }
  .form-inline .input-group {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-desktop {
    display: none;
  }
}
